{{#each packages}}
<tr id="package_{{this.id}}">
    <td>{{index_plas @index 1}}</td>
    {{#if (if_equal this.package_size 'Small' )}}
    <td><span class="text-success text-small">[sm] </span><span class="text-capitalize">{{this.name}}</span></td>
    {{/if}}
    {{#if (if_equal this.package_size 'Large' )}}
    <td><span class="text-danger">[lg] </span><span class="text-capitalize">{{this.name}}</span>
    </td>
    {{/if}}
    {{#if (if_equal this.package_size 'Medium' )}}
    <td><span class="text-primary">[md] </span><span class="text-capitalize">{{this.name}}</span></td>
    {{/if}}
    <td>{{this.price}}</td>
    <td><label class="badge badge-dark">{{this.package_tag}}</label></td>
    <td class="text-capitalize"> {{this.receiver_name}} </td>
    <td> <a class="text-success no-href-dec add_phone" phone="{{this.receiver_phone}}">{{this.receiver_phone}} <i
                class="mdi mdi-message-processing"></i></a></td>
    <td><label class="badge badge-primary">{{this.bname}}</label></td>
    <td> <label class="badge badge-success">{{fulname}}</label></td>
    <td> {{subdate this.created_at}}</td>
    <td>
        <button type="button" pid="{{this.id}}" bid="{{this.bid}}" pname="{{this.name}}" pbranch="{{this.bname}}"
            pimage="{{this.thumbnail}}" sender_name="{{this.sender_name}}" sender_phone="{{this.sender_phone}}"
            receiver_name="{{this.receiver_name}}" receiver_phone="{{this.receiver_phone}}" bcid="{{this.barcode_id}}"
            branch-id="{{this.id}}" class="btn receive_btn btn-primary btn-icon">
            <i class="mdi mdi-gift"></i>
        </button>
    </td>
</tr>
{{/each}}