<style>
    .loading-hiden {
        display: none;
    }

    .loading-show {
        display: contents;
    }

    .date_input {
        border-width: 0px !important;
        padding: 0px 6px !important;
    }

    .date-separator {
        margin-right: 2px !important;
    }
</style>

<div class="content-wrapper">
    <div class="row mb-3">
        <div class="col-md-12">
            <div class="row">
                <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                    <h3 class="font-weight-bold">Removed /Deleted Packages</h3>
                </div>
                <div class="col-12 col-xl-4">

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-between table-responsive">
                <p class="card-title"></p>
                <div class="d-flex">
                    <input class="date_input" type="date" name="from_data" id="date_from">
                    <span class="date-separator"></span>
                    <input class="date_input" type="date" name="to_data" id="date_to">
                    <select class="form-select form-control simple-select" name="branch_from" id="branch_from">
                        {{#if branches}}
                        <option selected="true" value="0">All Branches</option>
                        {{/if}}
                        {{#each branches}}
                        <option value="{{this.id}}">{{this.name}}</option>
                        {{/each}}

                    </select>
                   
                    <button id="filter_btn" class="btn btn-primary simple-btn">Filter</button>
                    <!--button id="export_btn" class="btn btn-dark simple-btn">Export</button-->
                </div>
            </div>


            <div class="table-responsive">
                <div id="loading" class="loading-hiden">
                    <img class="center-block" width="350" src="/images/cupertino.gif" alt="#" />
                </div>
                <br>
                <div id="data-head" class="text-center">
                   <h4>Latest Removed Packages For All Branches</h4>
                </div>
                <table class="table table-striped mt-3">
                    <thead>
                        <tr class="thead-style">
                            <th>No</th>
                            <th> Package name</th>
                            <th> Price </th>
                            <th> From Destn </th>
                            <th> Final Destn </th>
                            <th> Sent By </th>
                            <th> Removed By </th>
                            <th> Reason to remove</th>
                            <th> Created Date </th>
                            <th> Removed Date </th>
                            <!--th> Action </th-->
                        </tr>
                    </thead>
                    <tbody id="removed-list">

                        {{#each packages}}
                        <tr id="package_{{this.id}}">
                            <td>{{index_plas @index 1}}</td>
                            <td class="text-capitalize">{{this.name}}</td>
                            <td class="text-capitalize"> {{this.price}} </td>
                            <td><label class="badge badge-primary">{{this.bfname}}</label></td>
                            <td> <label class="badge badge-success">{{this.btname}}</label></td>
                            <td> {{this.fulname}}</td>
                            <td> {{this.remove_staff}}</td>
                            <td> {{this.remove_description}}</td>
                            <td> {{subdate this.created_at}}</td>
                            <td> {{subdate this.updated_at}}</td>
                            <!--td>
                                <button type="button" pprice="{{this.price}}" pid="{{this.id}}" bid="{{this.bid}}"
                                    pname="{{this.name}}" pbranch="{{this.bname}}" pimage="{{this.thumbnail}}"
                                    branch-id="{{this.id}}" class="btn receive_btn btn-primary btn-icon">
                                    <i class="fa fa-eye"></i>
                                </button>
                            </td-->
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <input type="hidden" name="action-type" id="action-type">
</div>

<script>

    function validateDate(start, end) {

        if (start == null || start == '' || end == null || end == '') {
            alert('Start and End Date are Required')
            return false;
        } else {
            if (start > end) {
                alert('Start date must not be greater than End Date')
                return false;
            } else {
                return true;
            }
        }
    }

    function validateBranches(fbranch, tbranch) {
        if (fbranch == tbranch && fbranch > 0) {
            alert('From and Final destination must be difference')
            return false;
        } else {
            return true;
        }
    }

    $(document).on('click', '#filter_btn', function () {


        var branch = $('#branch_from').val();
        var fdate = $('#date_from').val();
        var tdate = $('#date_to').val();

        var bname = $('#branch_from option:selected').text();

        var data_header =  "<h4>Removed Packages "+bname+" "+fdate+" To "+tdate+"</h4>"

        if (validateDate(fdate, tdate)) {

            $('#data-head').html(data_header);
            $('#loading').attr('class', 'loading-show')
            
            $.ajax({
                url: '/filter-removed-packages',
                method: 'POST',
                data: {
                    branch, fdate, tdate
                }
            })
                .then((response) => {
                    $('#loading').attr('class', 'loading-hiden')
                    $('#removed-list').html(response);
                })
                .catch((error) => {
                    $('#loading').attr('class', 'loading-hiden')
                    alert('Network or server error')
                    console.log(error)
                });

        }


    })
</script>